.bg-img{
    background-image: url('https://img.freepik.com/free-vector/online-education-laptop_1133-386.jpg?size=626&ext=jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    color:rgb(98, 221, 81);
}
.title:hover{
    color: coral;
}